@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply flex justify-center w-full h-screen text-black font-pretendard;
  }
  body {
    @apply bg-background text-foreground sm:max-w-[640px] w-full h-full font-pretendard;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
